<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>todo app</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/ripples.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa63BhRb9bv5EebWoGp4aWw3cofQVt_8E"></script>
    <script src="gmap.js"></script>
    <style>
        body {
            padding-top:100px;
        }
        #new-todo {
            width: 100%;
        }
        #todoapp {
            background-color: #fff;
            -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2px;
        }
    </style>
</head>
<body class="container" ng-controller="mainCtrl" ng-init="getTodos()">
    <section id="todoapp" class="well page">
        <header>
            <h1 class="text-center"><%= user.email %> {{appName | lowercase}}</h1>
            <div class="list-group">
                <form action="/ass">
                    <div class="form-group list-group-item row">
                        <div class="col-md-10 col-xs-10">
                            <input id="new-todo" type="text" class="form-control" placeholder="입력하세요" ng-model="newTodo" autofocus>
                        </div>
                        <div class="col-md-2 col-xs-2">
                            <button type="button" id="add-todo" class="btn btn-success btn-raised" ng-click="addTodo(newTodo)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </header>

        <section id="main">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="todo in todos">
                    <div class="view form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="todo.done"> {{todo.todo}}
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <footer class="footer row">
            <div class="col-md-4 col-xs-4">
                <span id="todo-count"><stoing>{{remain()}}</stoing> 남음 / {{todos.length}}</span>
            </div>
            <div class="col-md-8 col-xs-8">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-raised">ALL</button>
                    <button type="button" class="btn btn-default btn-raised">Active</button>
                    <button type="button" class="btn btn-default btn-raised">Completed</button>
                </div>
            </div>
        </footer>
        <hello name="appName">
            <h1>응?</h1>
        </hello>
        <hello></hello>
        <hello></hello>
        <input class="form-control" type="range" name="points" min="10" max="20" ng-model="zoom">{{zoom}}
        <select class="form-control" name="cordis" id="cordis" ng-options="cordi.name for cordi in cordis"
                ng-model="selectedCordi"></select>{{selectedCordi}}
        <div class="row">
            <g-map center="selectedCordi.cordi" zoom="zoom"></g-map>
        </div>


        <script src="../todo.js"></script>
        <script src="../todoService.js"></script>
    </section>
    <script>
        $.material.init();
    </script>
</body>
</html>